{% extends 'blog/base.html' %}
{% block title %}Your profile{% endblock %}
{% block content %}
<h1>Your profile</h1>
<form method="post" enctype="multipart/form-data" novalidate>
  {% csrf_token %}

  <fieldset>
    <legend>Account</legend>
    {{ u_form.non_field_errors }}
    <div>
      <label>Username</label>
      {{ u_form.username }}
      {{ u_form.username.errors }}
    </div>
    <div>
      <label>Email</label>
      {{ u_form.email }}
      {{ u_form.email.errors }}
    </div>
  </fieldset>

  <fieldset>
    <legend>Profile</legend>
    {{ p_form.non_field_errors }}
    <div>
      <label>Bio</label>
      {{ p_form.bio }}
      {{ p_form.bio.errors }}
    </div>
    <div>
      <label>Avatar</label>
      {% if request.user.profile.avatar %}
        <img src="{{ request.user.profile.avatar.url }}" alt="Avatar" style="max-height: 120px;">
      {% endif %}
      {{ p_form.avatar }}
      {{ p_form.avatar.errors }}
    </div>
  </fieldset>

  <button type="submit">Save changes</button>
</form>
{% endblock %}